# Selenium

_"Selenium is the most amazing way to automate a web browser"_ by Pedro Muñoz

https://selenium-python.readthedocs.io/

## Installation

In [1]:
!pip install selenium

Requirement already satisfied: selenium in /Users/victorgalan/miniconda3/envs/proj_env/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/victorgalan/miniconda3/envs/proj_env/lib/python3.8/site-packages (from selenium) (1.25.8)

### Driver

In [2]:
# it is necessary to add the driver to the PATH variable
import os

os.environ['PATH'] = f'{os.environ["PATH"]}:{os.getcwd()}/drivers'

In [3]:
os.environ['PATH']

'/Users/victorgalan/miniconda3/envs/proj_env/bin:/Users/victorgalan/miniconda3/bin:/Users/victorgalan/miniconda3/bin:/Users/victorgalan/miniconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/victorgalan/ironhack/git/projects/Ironhack-Final-Project---FurniTour/lab-selenium/drivers'

I have downloaded and installed geckodriver for MacOS from https://github.com/mozilla/geckodriver/releases

## Imports:

In [4]:
from selenium import webdriver
import time 
import numpy as np
import pandas as pd

### Getting some fresh Renfe tickets

In [18]:
'''import datetime

ORIGIN = 'MADRID'
DESTINATION = 'ZARAGOZA'

# tickets for tomorrow
DATE = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%d/%m/%Y')'''

In [ ]:
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import *


browser = webdriver.Firefox()
browser.get('https://www.ikea.com/es/es/cat/productos-products/')

origin = browser.find_element_by_name('desOrigen')
origin.send_keys(ORIGIN)
origin.send_keys(Keys.ARROW_DOWN)
origin.send_keys(Keys.ENTER)

destination = browser.find_element_by_name('desDestino')
destination.send_keys(DESTINATION)
destination.send_keys(Keys.ARROW_DOWN)
destination.send_keys(Keys.ENTER)

date = browser.find_element_by_name('__fechaIdaVisual')
date.send_keys(Keys.BACK_SPACE * 10)
date.send_keys(DATE)

destination.send_keys(Keys.ENTER)


time.sleep(4)
valor = browser.find_element_by_xpath('/html/body/div[1]/section[2]/div/section/div[2]/div[1]/table/tbody[1]/tr[1]/td[2]').text
#print(valor)

rows = len(browser.find_elements_by_xpath('/html/body/div[1]/section[2]/div/section/div[2]/div[1]/table/tbody[1]/tr'))
cols = len(browser.find_elements_by_xpath('/html/body/div[1]/section[2]/div/section/div[2]/div[1]/table/tbody[1]/tr[1]/td'))

print(f'Number of rows:  {rows}')
print(f'Number of columns: {cols}\n')


complete = ['Tren Completo']
blanck = ['']

lista = []
for r in range(rows+1): 
    for c in range(cols):
        try:
            data = list(browser.find_element_by_xpath('/html/body/div[1]/section[2]/div/section/div[2]/div[1]/table/tbody[1]/tr['+str(r)+']/td['+str(c)+']').text.split(';'))
            title = browser.find_element_by_xpath('/html/body/div[1]/section[2]/div/section/div[2]/div[1]/table/thead/tr').text
            if data is not None:
                lista.append(data)
            if data == complete:
                lista.append(blanck)
                lista.append(blanck)
                lista.append(blanck)

        except NoSuchElementException:
            pass
        
time.sleep(1)
browser.close()

In [ ]:
array = np.array(lista)
array.shape

In [13]:
try:
    array = array.reshape(int((rows/2)+1),int((cols)))
except:
    array = array.reshape(int((rows/2)),int((cols)))

array.shape

(4, 9)

In [14]:
df = pd.DataFrame(array)
df

,0,1,2,3,4,5,6,7,8
0,,14.40,18.33,3 h. 53 min.,AVE-MD,"59,60 €",Turista con enlace,Flexible,
1,,14.40,18.52,4 h. 12 min.,AVE-LD,"63,10 €",Turista con enlace,Flexible,
2,,17.30,21.33,4 h. 3 min.,ALVIA,"56,40 €",Turista\nSólo plaza H,Flexible,
3,,22.14,04.31,6 h. 17 min.,TRENHOTEL,"74,70 €",Cama Turista,Flexible,

In [15]:
df.drop([0], axis=1, inplace=True)
df

,1,2,3,4,5,6,7,8
0,14.40,18.33,3 h. 53 min.,AVE-MD,"59,60 €",Turista con enlace,Flexible,
1,14.40,18.52,4 h. 12 min.,AVE-LD,"63,10 €",Turista con enlace,Flexible,
2,17.30,21.33,4 h. 3 min.,ALVIA,"56,40 €",Turista\nSólo plaza H,Flexible,
3,22.14,04.31,6 h. 17 min.,TRENHOTEL,"74,70 €",Cama Turista,Flexible,

In [16]:
title = title.split('\n')
title

['Salida',
 'Llegada',
 'Duración',
 'Servicio',
 'Precio Desde',
 'Clase',
 'Tarifa',
 'Opciones']

In [17]:
df.columns = title
df

,Salida,Llegada,Duración,Servicio,Precio Desde,Clase,Tarifa,Opciones
0,14.40,18.33,3 h. 53 min.,AVE-MD,"59,60 €",Turista con enlace,Flexible,
1,14.40,18.52,4 h. 12 min.,AVE-LD,"63,10 €",Turista con enlace,Flexible,
2,17.30,21.33,4 h. 3 min.,ALVIA,"56,40 €",Turista\nSólo plaza H,Flexible,
3,22.14,04.31,6 h. 17 min.,TRENHOTEL,"74,70 €",Cama Turista,Flexible,